<p>Welcome</p>
<!--  trebuie sa adaug 2 butoane cu view montly si weekly report care ma vor duce pe alta pagina cu report + buton de back
      trebuie sa adaug chestia cu goalul
      trebuie sa adaug sectiunea cu notificari-->

      <div>
        <h3>View reports</h3>
        <button (click)="getWeeklyReport()" class="btn btn-danger">Weekly Report</button>
        <button (click)="getMonthlyReport()" class="btn btn-danger">Montly Report</button>
        <button (click)="manageGroceryLists()" class="btn btn-danger">Manage Grocery Lists</button>

    </div>